<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head'); %>
</head>
<body class="login_page">
    <h1 id="test">Login page</h1>
    <form method="post" target="_self">
        <img src="" alt="logo">
        <div class="inputs_container">
            <label for="login_input_name">Empresa</label>
            <input type="text" name="username" id="login_input_name" placeholder="ID">
        </div>
        <div class="inputs_container">
            <label for="login_input_password">Senha</label>
            <input type="password" name="password" id="login_input_password" placeholder="Password">
        </div>
        <button type="submit">Login</button>

    </form>
    <div class="square rotate-center"></div>
</body>

</html>