<nav>
    <section class="navbar-topContainer">
        <div class="navbar-contactContainer">
            <a href="">Tel: 021-442-410</a>
            <a href="">Email: ventas@gisellesrl.com</a>
        </div>
        <ul class="navbar-socialContainer">
            <a class="icons-conteiner">
                <img src="assets/instagram.svg" alt="instagram-icon">
            </a>
            <a class="icons-conteiner">
                <img src="assets/facebook.svg" alt="facebook-icon">
            </a>
            <a class="icons-conteiner">
                <img src="assets/whatsapp.svg" alt="whatsapp-icon">
            </a>
        </ul>
    </section>
    <section class="navbar-bottonContainer">
        <div id="logo-container">
            <img id="logo" src="assets/GiseleLogo.svg" alt="logo">
            <h3 id="shop-name">Giselle</h3>
        </div>
        <form action="" method="post">
            <input type="search" name="" id="" placeholder="Que estas buscando?">
            <button class="actionBtn">
                <img src="assets/searchIcon.svg" alt="search-icon">
            </button>
        </form>
        <div id="actionBtn-Container">
            <div class="navbarBotton-btnContainer">
                <button class="actionBtn">
                    <img src="assets/bag.svg" alt="bag-icon">
                </button>
            </div>
            <div class="navbarBotton-btnContainer">
                <button class="actionBtn">
                    <img src="assets/user.svg" alt="user-icon">
                </button>
            </div>
        </div>
    </section>
</nav>