/* como mudar cores de svg em images tags */
/* https://dev.to/hasantezcan/how-to-colorize-svg-image-1kc8 */
/*  */
body{
    display: flex;
    column-gap: 55px;
    align-items: center;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden; /*teste para */
}
aside{
    width: 275px;
    height: 100%;
    background-color: rgb(149, 146, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    width: 100%;
    height: 100%;
}
ul{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    row-gap: 30px;
}
main{
    width: 1054px;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 20px;
    justify-content: center;
    /* display: none; */
}
li{
    list-style-type: none;
}
.dashboard_userContainer{
    width: 100%;
    height: 249px;
    text-align: center;
}
.dashboard_menuBtn{
    font-size: var(--headings-m);
    color: var(--text-defalt);
    width: 268px;
    padding: 10px 15px;
    cursor: pointer; 
    background-color: transparent;
    border-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 14px;
}
.activeBtn{
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    background-color: white;
}
.btnIcon{
    width: 25px;
    height: 25px;
}
.minicard_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.home_minicard_container{
    width: 209px;
    height: 90px;
    border: 1px solid #000;
    border-radius: 5px;
}
.home_card_container{
    width: 395px;
    height: 280px;
    border: 1px solid #000;
    border-radius: 5px;
}