<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head'); %>
</head>
<body>
    <h1>Wellcome to home page</h1>
    <section>
        <div>
            <img src="" alt="logo">
            <h3>Giselle</h3>
        </div>
        <div>
            <input type="text" name="" id="">
            <button>bag</button>
            <button>login</button>
        </div>
    </section>
    <nav>
        <div>
            <button>menu</button>
        </div>
        <div>
            <ul>
                <li>
                    <a href="">new</a>
                </li>
                <li>
                    <a href="">sports</a>
                </li>
                <li>
                    <a href="">outlet</a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>