<h1>products</h1>
<form action="/admin/products/" method="get">
    <input type="text" name="toSearch" id="toSearchInput">
    <button type="submit">search</button>
</form>
<section>

</section>
<button class="product_addBtn">add</button>
