<div>
    <h3>show total of products registered</h3>
</div>
<div>
    <h3>show orders completed in the month</h3>
</div>
<div>
    <h3>show number of shipping in process</h3>
</div>
<div>
    <h3>show the sells report (chart)</h3>
</div>
<div>
    <h3>show the income of the month at moment</h3>
</div>
<div>
    <h3>show expenses of the month at moment</h3>
</div>
<div>
    <h3>show total of revenue</h3>
</div>
<div>
    <h3>show stock status</h3>
</div>